body {
  background-image: linear-gradient(to bottom right, #E4F9F5,#80caca);
  background-attachment: fixed;
  background-repeat: no-repeat;
}

hr {
  border-style: none;
  border-top-style: dotted;
  width: 5%;
  border-color: grey;
  border-width: 5px;
}

h1{
  font-size: 40px;
}

h3{
  font-size: 25px;
}

.headings{
  color: #66BFBF;
  transition: color 1s;
}

.headings:hover{
  color: purple;
  transition: color 2s;
}
